@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wdth,wght,YTLC@6..12,75..125,200..1000,511&display=swap');

html, body {
    overflow: hidden;
    max-height: 100vh;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: fixed;
    display: flex;

    inset: 0;

    background-color: #131313;
}

button {
    cursor: pointer;
}

.side-panel {
    display: flex;
    background-color: #31313150;
    width: 20vw;
    height: 100%;

    border-right: 2px solid #31313175;

    flex-direction: column;

    align-items: center;
    padding: 12px;

    color: #ffffffe9;

    min-width: 220px;
}

.side-panel .title {
    font-size: xx-large;
    font-weight: 800;
    font-stretch: 125%;
}

.side-panel .subtitle {
    font-size: 12px;
    font-weight: 300;
    font-stretch: 150%;
}

.side-panel .buttons {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 24px;
    width: 90%;
    height: 100%;
}

.side-panel .buttons button {
    width: 100%;
    height: max-content;
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
    font-stretch: 110%;

    appearance: none;
    border: 1.5px solid #313131aa;
    border-radius: 12px;
    background-color: #222; 
    color: #cccccc;
    text-align: left;
    transition: all 0.3s;
}

.side-panel .buttons button:hover {
    background-color: #333; 
    font-stretch: 120%;
    font-weight: 700;
}

.side-panel .buttons button:active {
    background-color: #444; 
}
.side-panel .buttons .active {
    background-color: #333; 
}

.side-panel .buttons .exit {
    margin-top: auto;
}

.pages {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transform: translateY(0);
    transition: all 1s;
    transition-timing-function: cubic-bezier(4, 0.5, 0.5, 0.5, 1, 1, 1, 1);
}

.page {
    display: flex;
    width: 100%;
    height: 100%;

    padding: 24px;

    color: #fff;
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    gap: 12px;
    transition: gap 0.3s;
}

.dashboard .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #31313133;
    border: 1.5px solid #31313175;
    border-radius: 12px;
    padding: 12px;
    min-height: 96px;
    justify-content: center;
    transition: all 0.3s;
    min-width: 0;
}

.dashboard .card:hover {
    flex: 2;
    font-stretch: 150%;
    .card-content small {
        font-size: calc(small - 8px);
    }
}

.dashboard:hover {
    gap: 6px;
    .card {
        .card-content {
            font-stretch: 117%;
        }
    }
}

.dashboard .card .card-title {
    display: flex;
    font-stretch: 100%;
    font-weight: 500;
    font-size: small;
    align-items: center;
    gap: 2px;
}

.dashboard .card .card-title img {
    margin-bottom: 1.5px;
    height: 12px;
    width: 12px;
}

.dashboard .card .card-content {
    font-stretch: 150%;
    font-weight: 700;
    font-size: large;
    margin-left: 6px;
    transition: all 0.3s;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboard .card .card-content small {
    font-size: calc(small + 4px);
}